<infinispan>
    <cache-container name="notes" default-cache="noteCache">
        <local-cache name="noteCache" simple-cache="true">
            <memory>
                <object size="5000"/>
            </memory>
            <expiration interval="5000" lifespan="60000" max-idle="10000"/>
        </local-cache>
    </cache-container>
</infinispan>