<infinispan>
    <cache-container name="notes" default-cache="default">
        <local-cache name="default" simple-cache="true">
            <memory>
                <object size="5000"/>
            </memory>
            <expiration interval="500" lifespan="60000" max-idle="1000"/>
        </local-cache>
    </cache-container>
</infinispan>